<form class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      <input type="text" class="span2" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="text" class="span2" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
