<form class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      <input type="text" class="span2" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="text" class="span2" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="button" class="btn">Submit</button>
    </div>
  </div>
</form>

<div class="hidden">
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>
</div>
