<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @work_item_type.description %>
</p>

<%= link_to 'Edit', edit_work_item_type_path(@work_item_type) %> |
<%= link_to 'Back', work_item_types_path %>
